body {
    color: white;
    background: rgb(0, 17, 255);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 238, 255);
}